extends layout

append head
  //- add page specific styles by appending to the head
  link(rel="stylesheet" href="/stylesheets/index.css")
  //- add page specific js
  script(src="/javascripts/index.js" type="module" defer)

block content
  main(class='mainContentContainer')
    div(class='description')
      h2 Welcome!
      p
        | FilmUp is a hub for cinephiles and movie recommendations.
        | Our mission is to help people find and share movies they love.

    div(class='recentlyAdded')
      h2 Recently Added Movies
      div(class='recentlyAddedContainer')
        each recentMovie in recentMovies
          div(class='recentMovie')
            a(href=`/movies/${recentMovie.id}`)
              img(src= recentMovie.posterPath id= 'moviePoster')
              //- div.hiddenDescr Test Description

    div(class='moviesByGenre')
      h2 Movie Genres
      ul
        each genre in genres
          //- TODO: IMPLEMENT LINK TO SHOW LIST OF MOVIES IN A GENRE
          li: a(href="/")= genre.name
