doctype html
html
  head
      block head
        title="FilmUp"
        link(rel='stylesheet' href='/stylesheets/reset.css')
        link(rel='stylesheet' href='/stylesheets/index.css')
        link(rel='stylesheet' href='/stylesheets/movie.css')
  body
    block content
