doctype html
html
  head
      block head
        title="FilmUp"
        meta(name='image', property='og:image', content='/images/screenshot.png')
        link(rel='stylesheet' href='/stylesheets/reset.css')
        link(rel='stylesheet' href='/stylesheets/index.css')
        link(rel='stylesheet' href='/stylesheets/movie.css')
        link(rel='stylesheet' href='/stylesheets/reviews.css')
        link(rel='stylesheet' href='/stylesheets/vaults.css')
        link(rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css")
  body
    include utils.pug
    include navbar.pug
    block content

    footer

      div(class='siteLinks')
        h2 Site Links
        div
          a(href="/") Home
        div
          a(href="/login") Log In
        div
          a(href="/signup") Register
        div
          a(href="/movies") Movie Catalogue
        div
          a(href="/vaults") Your Movie Vaults

      div(class='connectWithUs')
        h2(class="connectWithUs-h3") About the Developers
        +connectWithUsLinks("https://github.com/guipace", "https://www.linkedin.com/in/guilhermepace/", "https://angel.co/u/guilherme-pace", "Guilherme Pace")
        +connectWithUsLinks("https://github.com/HeroRoku", "https://www.linkedin.com/in/jevon-timmons/", "https://angel.co/jevon-timmons", "Jevon Timmons")
        +connectWithUsLinks("https://github.com/lanejohns", "https://www.linkedin.com/in/lane-johns-8880b5121/", "https://angel.co/u/lane-dalton-johns", "Lane Johns")
        +connectWithUsLinks("https://github.com/MattMav21", "https://www.linkedin.com/in/matthew-hasan-a25011209/", "https://angel.co/u/matthew-hasan", "Matthew Hasan")

      small
        span(class="footer-span") ©2021 FilmUp
