doctype html
html
  head
      block head
        title="FilmUp"
        link(rel='stylesheet' href='/stylesheets/reset.css')
        link(rel='stylesheet' href='/stylesheets/index.css')
        link(rel='stylesheet' href='/stylesheets/movie.css')
  body
    include navbar.pug
    block content

    footer

      div(class='siteLinks')
        h3 Site Links
        div
          a(href="/") Link Placeholder
        div
          a(href="/") Link Placeholder
        div
          a(href="/") Link Placeholder
        div
          a(href="/") Link Placeholder

      div(class='connectWithUs')
        h3(class="connectWithUs-h3") Connect With Us
        div: a(href="https://github.com/guipace"): img(class="connectWithUs-github" src="/images/githubicon.png", alt="Guilherme Pace")
        div: a(href="https://github.com/HeroRoku"): img(class="connectWithUs-github" src="/images/githubicon.png", alt="Jevon Timmons")
        div: a(href="https://github.com/lanejohns"): img(class="connectWithUs-github" src="/images/githubicon.png", alt="Lane Johns")
        div: a(href="https://github.com/MattMav21"): img(class="connectWithUs-github" src="/images/githubicon.png", alt="Matthew Hasan")

      small
        span(class="footer-span") ©2021 FilmUp, Inc.
