extends layout

include utils.pug

block content
    div(class="form-div")
        h2 Sign in to FilmUp
        +validationErrorSummary(errors)
        form(action="/login" method="POST")
            input(type='hidden' name='_csrf' value=token)
            +formField("E-mail", "email", 'Enter your email address' , "email")
            div
            +formField("Password", "password", null , "password")
            button(type='submit' class="nav-button") Login
        div: small: a(href="/signup") Don't have an account? Sign up
