extends layout

block content
  h1 Movies
  style.
    .container {
      height: 300px;
      width: 70%;
      margin: 10px auto;
      position: relative;
    }

    .block {
      height: 250px;
      width: 200px;
      float: left;
      margin: 10px;
    }

  div.container
    each movie in movies
      div.block
        div= movie.title
        img(src= movie.posterPath width=150 height=200)
