extends layout

block content
    form(method="post" action=`/vaults/${vault.id}`)
            table
                thead: tr
                    th This is my vault!!
                tbody
                        tr
                            td= vault.name
            button(type="submit" id="delete-vault") Delete Vault