extends layout

block content
    form(method="post" action="/vaults")
        div.formContainer
            input(type="hidden" name="_csrf" value=token)
            input(type="text" name="name" placeholder="Vault name here" id="vaultInput" required)
            div.vaultSpace
            button(type="submit" id="createVault") Create Vault
            if userVaults
                h2 Sorry! You have the max amount of vaults.
    h1 My Vaults
    div.vaultContainer
        each vault in vaults
            div.vaultBlock
                //- h2= vault.name
                a(href=`./vaults/${vault.id}` id="link")
                    h2= vault.name
                        
