extends layout

block content
    form(method="post" action=`/vaults/${vault.id}`)
        h1= vault.name
        div.movieContainer
            each vaultedMovie in vault.Movies
                div.movieBlock
                    a(href=`/movies/${vaultedMovie.id}`)
                        img(src= vaultedMovie.posterPath width=150 height=200 id= 'moviePoster')
                        //- h2= vaultedMovie.title
        div.deleteContainer 
            button(type="submit" id="delete-vault") Delete Vault