.moviesPageContainer {
  margin: 20px;
}

.movieContainer {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 100%;
  background: #eee;
  margin: 10px auto;
  position: relative;
  text-align:center;
}

.mainMoviePoster {
  height: 300px;
}

.movieBlock {
    display: flex;
    flex-direction: column;
    align-content: center;
    text-align: center;
    margin: 10px;
}

.moviedetails {
  border: black solid .2rem;
  padding: .6rem;
  font-size: large;
}

.movieBlock form {
  align-self: center;
}

.movieBlock img {
  height: 250px;
}

#moviePoster::after {
  content: "";
  border-radius: 5px;
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
  opacity: 0;
  -webkit-transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
  transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
}

#moviePoster:hover {
  -webkit-transform: scale(1.05, 1.05);
  transform: scale(1.05, 1.05);
}

#moviePoster:hover::after {
  opacity: 1;
}

.hiddenDescr {
  display: none
}


.movieHeader {
  display: flex;
  flex-direction: row;
  width: fit-content;
  margin: auto;
}

.mainMovie {
  width: auto;
  margin: 20px;
  font-size: 12px;
  min-height: 400px;
  background: #FFFFFF;
  text-align: left;
}

.mainContainer {
  width: auto;
  margin-right: 0px;
  float: left;
  margin: 0 20px 10px 0;
  margin-bottom: 10px
}

#moviecol {
  text-align: center;
  float: left;
  margin: 0 20px 10px 0;
}

#moviecont {
  width: 75%;
  margin-right: 0px;
  float: left;
  margin: 0 20px 10px 0;
  border-bottom: 1px solid #ddd;
}

#movietitle {
  width: auto;
  margin-bottom: 0;
}

.watchedsection {
  margin-bottom: 15px;
  margin-left: auto;
  margin-right: auto;
  height: 67px;
  width: 140px;
  position: relative;
}

.watchedbutton {
  border-width: 0px;
  /* width: 140px; */
  background-color: #409d69;
  color: #FFF;
  border-radius: 3px;
  border-style: solid;
  box-sizing: content-box;
  float: left;
  font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: bold;
  overflow: hidden;
  text-align: left;
  word-wrap: normal;
  white-space: nowrap;
}

#watched {
  background-color: #409D69;
  color: #fff;
  font-size: inherit;
  -webkit-font-smoothing: antialiased;
  height: 28px;
  padding: 6px 0 6px 8px;
  box-sizing: border-box;
  background: transparent;
  border: 0;
  cursor: pointer;
  display: block;
  font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-style: inherit;
  font-weight: inherit;
  margin: auto;
  text-align: inherit;
  min-width: 0 !important;
  appearance: button;
  -webkit-writing-mode: horizontal-tb !important;
  text-rendering: auto;
  letter-spacing: normal;
  word-spacing: normal;
  text-transform: none;
  text-indent: 0px;
  text-shadow: none;
  align-items: flex-start;
  font: 400 13.3333px Arial;
}


#addToVault {
  font-size: 10px;
  background-color: #409d69;
  cursor: pointer;
}
