
.submission {
    border-radius: 3px;
    border: solid thin #DCD6CC;
    color: #333333;
    font-family: "Lato", "Helvetica Neue", "Helvetica", sans-serif;
    padding: 5px;
    align-items: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
}


.review-area {
    width: 500px;
    height: fit-content(500px);
    padding: 20px;
    align-self: center;
    position: relative;
    background-color: lightgray;
}

.review-button {
    position: relative;
    left: 200px
}


.review-collection {
    width: 100%;
    height: auto;
    display: grid;
    gap: 10px;
    padding: 30px 0;
}

.edit-button {
    position: absolute;
    right: 75px;
}

.date {
    position: relative;
    top: 10px;
}

.user {
    position: relative;
    top: 20px;
}

.delete-button {
    position: absolute;
    right: 20px;
}

.review {
    width: 100%;
    background-color: grey;
    border: 1px solid black;
    display: flex;
    padding: 20px 5px;
    align-items: center;
}