.formContainer {
    /* background-color: red; */
    display: flex;
    padding-left: 1rem;
}

.vaultContainer {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
    background: #eee;
    margin: 10px auto;
    position: relative;
    text-align: center;
}

.vaultBlock {
    text-align: center;
    height: 250px;
    width: 200px;
    margin: 10px;
    background: #eee;
}

h1 {
    text-align: center;
    background: #eee;
}

#link:hover {
    background-color: rgb(53, 34, 19);
    color: blue;
}

#createVault {
    background-color: #409D69;
    color: #fff;
    padding: 3px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

.vaultSpace {
    width: 1rem;
    height: 1rem;
}

#vaultInput {
    border: solid .2rem black;
}

.deleteContainer {
    display: flex;
    padding-left: 1rem;
}

#delete-vault {
    background-color: #409D69;
    color: #fff;
    padding: 3px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}