.formContainer {
    /* background-color: red; */
    display: flex;
    padding-left: 1rem;
}

.vaultContainer {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
    background: #eee;
    margin: 10px auto;
    position: relative;
    text-align: center;
}

.vaultBlock {
    /* text-align: center; */
    height: 60px;
    width: 100px;
    margin: 10px;
    background: #eee;
    background-color:goldenrod;
    border: solid black 1px;
    padding-top: .6rem;
    font-family: "Lato",
    "Helvetica Neue",
    Helvetica,
    Arial,
    sans-serif;
    border-radius: 3px;
}

h1 {
    text-align: center;
    background: #eee;
}



#link:hover {
    background-color: rgb(53, 34, 19);
    color: #eee;
    text-decoration: none;
}

#createVault {
    background-color: #409D69;
    color: #fff;
    padding: 3px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    font-family: "Lato",
    "Helvetica Neue",
    Helvetica,
    Arial,
    sans-serif;
    border-radius: 3px;
}

.vaultSpace {
    width: 1rem;
    height: 1rem;
}

#vaultInput {
    border: solid .2rem black;
}

.deleteContainer {
    display: flex;
    padding-left: 1rem;
}

#delete-vault {
    background-color: #409D69;
    color: #fff;
    padding: 3px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    font-family: "Lato",
    "Helvetica Neue",
    Helvetica,
    Arial,
    sans-serif;
    border-radius: 3px;
}

#delete-movie {
    background-color: #409D69;
    color: #fff;
    border-radius: 3px;
    font-family: "Lato",
    "Helvetica Neue",
    Helvetica,
    Arial,
    sans-serif;
}